@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme {
    --font-arcade: "Press Start 2P", 'sans-serif';
}

html {
    margin:0px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    overflow-x: hidden;
}